body {
  font-family: 'Open Sans', sans-serif;

}

.molen {
  background-image: url(https://ind.nl/PublishingImages/Nederlander_worden_thema.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  height: 45vh;
  width: 100%;
}

#inloggen a {
  display: flex;
  position: absolute;
  left: 80%;
  bottom: 95%;
  font-family: 'Verdana', sans-serif;
  text-decoration: none;
  color: rgb(87, 87, 87);
  font-size: 0.8em;

}

#inloggen {
  background-color: rgb(247, 245, 245);
  padding: 0.5em;
}

#inlogicoon {
  display: flex;
  position: relative;
  left: 75%;
  width: 1em;
  height: 1.5em;

}


#Logo {
  height: 4.5em;
  width: auto;
  display: flex;
  position: relative;
  left: 40%;
  padding-bottom: 1em;
}

.navbar {
  background-color: rgb(60, 4, 77);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;



}

.navbar p {
  position: absolute;
  left: 5em;
  color: rgb(255, 255, 255);
}

#hamb {
  padding: 1em;
  left: 75%;
  width: 3em;
  height: 2em;
}

#zoek {
  margin-right: 1em;
  width: 2em;
  height: 2em;

}

.opennav {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
  top: 4em;
}

.joehoe {
  display: block;
}


.opennav li {
  list-style-type: none;
  color: white;
  padding: 1em;
}

.opennav li:nth-child(odd) {
  background-color: rgb(118, 75, 131);

}

.opennav li:nth-child(even) {
  background-color: rgb(60, 4, 77);

}

#menu01 ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

#menu01 ul li {
  padding: 1em;
  margin: .25em 0;
  background-color: rgb(243, 243, 243);
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#menu01 a {
  color: black;
  text-decoration: none;
}

#menu01 {
  margin: -5em auto;
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

main {
  padding: 1em;
}

#af {
  width: 50px;
  height: 50px;
}

#aa {
  width: 50px;
  height: 50px;
}

#va {
  width: 50px;
  height: 50px;
}

#br {
  width: 50px;
  height: 50px;
}

#co {
  width: 65px;
  height: 50px;
}

h2 {
  padding-top: 30px;
  padding-bottom: 20px;
}

#nieuws {
  padding-top: 5em;
}

#nieuws a {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: black;
}

#nieuws p {
  font-size: 18px;
  font-weight: thin;
  padding: 20px;
  color: rgb(156, 156, 156);
}

#vacatures p {
  padding: 1em;
}

#vacatures {
  padding-left: 2em;
}

#vacatures ul li {
  padding: 0.5em;
}

#vacatures a {
  color: black;
}

#contact p {
  padding: 1em;
}

#FAQ h2 {
  color: white;
  padding: 1em;
}

#FAQ {
  background-color: rgb(77, 16, 95);
}

#FAQ li {
  list-style-type: none;
  color: black;
  padding: 1em;
  padding-left: 2em;
}

#FAQ li:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}

#FAQ li:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

#FAQ ul {
  margin-left: 5%;
  margin-bottom: 3em;
}

#coronavirus {
  padding: 1em;
}

#coronavirus p {
  background-color: rgb(228, 228, 228);
  padding: 3em;
}

#coronavirus a {
  color: black;
}

#AfspMkn h1 {
  font-size: 1.5em;
  padding: 1em;
  font-weight: thin;
}

#AfspMkn p {
  font-size: 1em;
  margin: 1em;
}

#listAfsp ul {
  padding: 2em;
  margin: 1em;
}

#listAfsp ul li {
  padding: 1.5em;
}

#listAfsp ul li a {
  color: black;
}

footer {
  background-color: rgb(238, 238, 238);
  height: 20em;
}

footer section ul li a {
  color: rgb(110, 110, 110);
  text-decoration: none;
}

#footerlist ul {
  margin: 0.1em;
  padding: 3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

#footerlist ul li {
  margin: 0.5em;
  padding: 0;
  list-style: none;

}

#footerlist ul li a {
  margin: 0.1em;
  padding: 0.5em;
}

#social {
  margin-left: 40%;
  height: 3em;
  width: 8em;
}